@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MyCurator {
  position: fixed;
  top: 0;
  min-width: 100%;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #555555;
  transition: all 0.8s ease;
  z-index: 150;

  > div {
    position: relative;
    @include flex-center;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;

    .notice {
      @include flex-spaceBetween-center;
      padding: 15px 40px;
      background-color: #f9f9f9;
      border: 1px solid #ebebeb;

      .fitNotice {
        @include flex-center;
        width: 440px;

        i {
          margin-right: 20px;
          color: #92c54d;
          font-size: 40px;
        }

        > div {
          @include flex-center;

          h3 {
            padding-right: 50px;
            font-size: 20px;
            font-weight: 500;
            line-height: 50px;
          }

          a {
            height: 26px;
            padding: 0 8px;
            margin-right: 10px;
            background-color: #ffffff;
            border: 1px solid #555555;
            border-radius: 2px;
            color: #555555;
            font-size: 13px;
            line-height: 27px;
            cursor: pointer;

            &:last-child {
              margin: 0;
              background-color: #555555;
              color: #ffffff;
            }
          }
        }
      }

      .shoppingNotice {
        @include flex-center;
        flex-direction: column;
        width: 640px;
        padding-left: 40px;
        border-left: 1px solid #dddddd;

        h4 {
          width: 100%;
          padding: 4px;
          text-align: left;
        }

        span {
          width: 100%;
          padding: 6px 0;
          color: #5c5c5c;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .curatorContents {
      position: relative;
      @include flex-spaceBetween-center;
      width: 1200px;
      margin-top: 20px;
      align-items: flex-start;

      .recommendMenu {
        @include flex-center;
        flex-direction: column;
        width: 220px;
        padding-left: 20px;
        line-height: 52px;
        cursor: pointer;

        h4 {
          width: 100%;
          font-size: 16px;
          border-top: 1px solid #dddddd;
          border-bottom: 1px solid #000;
        }

        span {
          width: 100%;
          border-bottom: 1px solid #dddddd;
        }
      }

      .productLists {
        @include flex-center;
        flex-direction: column;

        i {
          color: #dddddd;
          font-size: 42px;
        }

        strong {
          color: #d4d4d4;
        }
      }
    }
  }

  .curatorCloseBtn {
    position: absolute;
    top: 7%;
    right: 2%;
    width: 63px;

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #fff;
      border: none;
      outline: none;
      font-size: 35px;
      font-weight: 200;
      cursor: pointer;
    }
  }

  &.hidden {
    top: -488px;
    overflow: hidden;
  }
}
