@import "../../Styles/common.scss";

.Login {
    width: 100%;
    height: 1048px;
    padding: 100px 0;
    h2 {
        height: 190px;
        background-color: #faf9f7;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.04em;
        @include flex-center;
    }

    .LoginArea {
        .LoginMenu {
            margin: 43px auto 0;
            width: 650px;
            .LoginTap {
                @include flex-spaceBetween-center;
                margin: 0px 40px 0px;;
                .memberTap {
                    @include flex-center;
                    width: 50%;
                    font-size: 20px;
                    color: #000;
                    border-bottom: 2.5px solid #000;
                    padding: 15px;
                    font-weight: 500;
                }
                .nonmemberTap {
                    @include flex-center;
                    width: 50%;
                    font-size: 20px;
                    color: #999;
                    border-bottom: 2.5px solid #999;
                    padding: 15px;
                    font-weight: 500;
                }
            }

            .inputArea {
                margin: 60px 122.500px 0px;
                .inputWrapper {
                    @include flex-spaceBetween-center;
                    margin-bottom: 10px;
                    strong {
                        letter-spacing: -0.025em;
                        font-size: 16px;
                        display: inline-block;
                        line-height: 50px;
                        color: #333;
                    }
                    input {
                        padding: 0 20px;
                        width: 290px;
                        height: 50px;
                        line-height: 38px;
                        font-size: 14px;
                        border: 1px solid #ccc;
                        &:focus {
                            outline: solid black 1px;
                        }
                    }
                }
                button {
                    width: 405px;
                    height: 64px;
                    margin-top: 19px;
                    padding: 0 20px;
                    color: white;
                    background-color: black;
                    border-radius: 3px;
                    border-color: black;
                    font-size: 19px;
                    &:hover {
                        cursor: pointer;
                    }
                }

            }

            .findInfo {
                padding: 0 40px;
                ul {
                    margin: 30px 122.5px 0px;
                    @include flex-spaceBetween-center;
                    li {
                        text-decoration: none;
                        font-size: 14px;
                        color: #555555;
                    }
                    .toJoin {
                        text-decoration: none;
                        font-size: 14px;
                        color: #555555;
                    }
                }
            }
            
            .snsJoin {
                margin-top: 30px;
                padding-top: 30px;
                border-top: solid 1px #DDDDDD;
                h3 {
                @include flex-center;
                }
                ul {
                @include flex-spaceBetween-center;
                margin: 20px 122.5px 0px;
                    button {
                      color: #555555;
                      font-size: 14px;
                      font-weight: 600px;
                      background-color: white;
                      border: none;
                      width: 90px;
                      height: 90px;
                      img {
                          width: 55px;
                          height: 55px;
                          margin-bottom: 5px;
                      }
                    }
                }
            }
        }

    }
    
                
   
}