@import "../../Styles/common.scss";

.JoinStep2 {
    width: 100%;
    height: 1048px;
    padding: 100px 0;
    h2 {
        height: 190px;
        background-color: #faf9f7;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.04em;
        @include flex-center;
    }
    .step2Wrapper {
       padding: 61px 275px 0px;
        .step {
            @include flex-spaceBetween-center; 
            span {
                font-size: 20px;
                padding: 0px 53px 0px 56px;
                i {
                    color: grey;
                    margin-left: 15px;
                }
            }
        }
        .userInfoField {
            margin-top: 59px;
            padding: 0px 53px 0px 56px;
            .description {
                margin-bottom: 17px;
                @include flex-spaceBetween-center;
                p{
                    color: #666;
                    font-size: 13px;
                }
            }
            form {
                padding-top: 17px;
                border-top: solid 1px black;
                ul{
                    li{
                        margin-bottom: 5px;
                        @include flex-spaceBetween-center;
                        strong {
                            width: 158px;
                            font-size: 16px;
                        }
                        .inputWrapper {
                            width: 100%;
                            display: block;
                            padding-right: 45px;
                            input {
                                width: 100%;
                                height: 40px;
                                padding: 0 20px;
                                line-height: 38px;
                                border: 1px #ccc solid;
                                border-radius: 1px;        
                                font-size: 14px;
                                &:focus{
                                   outline: solid 1px black;
                                }
                            }
                            .idError {
                                color: red;
                                font-size: 8px;
                            }
                            .idValid {
                                display: none;
                            }
                        }
                        .idInputWrapper{
                            width: 100%;
                            @include flex-spaceBetween-center;
                            input {
                                width: 100%;
                                height: 40px;
                                padding: 0 20px;
                                line-height: 38px;
                                border: 1px #ccc solid;
                                border-radius: 1px;        
                                font-size: 14px;
                                margin-left: -8px;
                            }
                            .idError {
                                color: red;
                                font-size: 8px;
                                margin-left: -8px;
                            }
                            .idValid {
                                display: none;
                            }
                            button {
                                width: 136px;
                                height: 38px;
                                background-color: white;
                                border: 1px black solid;
                                border-radius: 3px;
                                margin-right: 3px;
                                font-weight: 600;
                            }
                        }
                        .emailInputWrapper {
                            width: 100%;
                            @include flex-spaceBetween-center;
                            input {
                                width: 100%;
                                height: 40px;
                                padding: 0 20px;
                                line-height: 38px;
                                border: 1px #ccc solid;
                                border-radius: 1px;        
                                font-size: 14px;
                                margin-left: -8px;
                            }
                            .idError {
                                font-size: 8px;
                                color: red;
                                margin-left: -8px;
                            }
                            .idValid {
                                display: none;
                            }
                            button {
                                width: 136px;
                                height: 38px;
                                background-color: white;
                                border: 1px black solid;
                                border-radius: 3px;
                                margin-right: 3px;
                                font-weight: 600;
                            }
                        }
                        .txtAgreement {
                            width:100%;
                            height: 107.4px;
                            margin: 20px 0 0 -17px;
                            
                            span {
                                height: 16px;
                                display: flex;
                                align-items: center;
                                margin-bottom: 5px;
                                
                                input {
                                    width: 16px;
                                    height: 16px;
                                }
                                label {
                                    margin-left: 5px;
                                    font-size: 14px;
                                }
                            }
                            p {
                                width: 450px;
                                display: flex;
                                color: #999999;
                                font-size:13px;
                                margin-top: 15px;
                                flex-wrap: wrap;
                            }
                        }
                    }
                }
                .buttonArea {
                    @include flex-center;
                    .cancleBtn {
                        width: 111px;
                        height: 40px;
                        background-color: white;
                        border: 1px solid grey;
                        border-radius: 3px;
                        font-size: 14px;
                        margin: 0px 5px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .confirmBtn {
                        width: 111px;
                        height: 40px;
                        background-color:black;
                        border: 1px solid grey;
                        border-radius: 3px;
                        font-size: 14px;
                        color: white;
                        margin: 0px 5px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }
}