.mgm-modal-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);

  .modal-inner {
    position: relative;
    width: 600px;
    height: 500px;
    padding: 24px;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    background: #fff;

    .modal-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.modal-hidden {
  display: none;
}