.itemContainer {
  height: 350px;
  .item {
    margin-left: 20px;
    margin-top: 20px;
    padding: 18px 20px 20px 20px;
    width: 285px;
    height: 337px;
    border: 1px solid #ececec;

    strong {
      display: block;
      line-height: 20px;
      color: #555;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    span {
      font-weight: 200;
      line-height: 20px;
      color: #555;
      font-size: 13px;
    }

    .itemPayInfo {
      margin-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ececec;
    }

    .smallStarGrade {
      display: flex;

      i {
        width: 18px;
        padding-top: 10px;
        color: grey;
      }
    }
  }
}
