@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

* {
  text-decoration: none;
}
html {
  font-family: "Lato", "Noto Sans KR", sans-serif, Malgungothic, "맑은고딕",
    Dotum, "돋움";
  font-weight: 400;
  font-size: 16px;
  color: #000;
  outline: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaceBetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$theme-color: rgb(196, 15, 57);
