.JoinStepThree {
    width: 100%;
    height: 1048px;
    padding: 100px 0;
    h2 {
        height: 190px;
        background-color: #faf9f7;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.04em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stepWrapper {
       padding: 61px 330px 0px;
        .step {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 55px 0px 55px;
            span {
                font-size: 20px;
                color: #666666;
                i {
                    color: grey;
                    margin-left: 45px;
                }
            }
            .currentStep {
                color: black;
                font-size: 20px;
                i {
                    color:black;
                }
            }
        }
        .signupComplete {
            margin: 60px auto 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-top: solid 1px black;
            border-bottom: solid 1px #DDDDDD;
            p {
                font-size: 20px;
                letter-spacing: -0.025em;
                font-weight: 400;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 60px 0 10px;
            }
            button {
                width: 325px;
                height: 60px;
                padding: 0px 40px;
                margin-bottom: 60px;
                border: solid 1px black;
                background-color: black;
                font-size: 20px;
                color: white;
                border-radius: 3px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &:hover {
                    cursor:pointer;
                }
            }
        }
        .couponArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .description {
                font-size: 20px;
                margin-top: 43px;
                text-align: center;
            }
            .couponDetail {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    padding: 20px 19px;
                    .couponCondition {
                        font-size: 13px;
                    }
                    .discountPercentage {
                        font-size: 40px;
                    }
                    .couponName {
                        font-size: 15px;
                        margin-top: 30px;
                    }
                    
                }
            }
            button {
                width: 222px;
                height: 40px;
                padding: 0px 40px;
                margin: 45px 265px;
                border: solid 1px black;
                background-color: black;
                font-size: 14px;
                color: white;
                border-radius: 3px;
                &:hover {
                    cursor:pointer;
                }
            }
        }
        .membershipArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .description {
                margin-top: 30px;
                font-size: 20px;
            }
            p {
                margin-top: 10px;
                font-size: 14px;
                color: #666666;
            }
        }
        .membershipDetail {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                padding: 20px 19px;
                margin-top: 40px;
                i {
                    font-size: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
                .membershipDescription {
                    font-size: 16px;
                    text-align: center;
                    margin-top: 30px;
                }
                .membershipName {
                    font-size: 14px;
                    margin-top: 30px;
                    color: #888888;
                    text-align: center;
                }
            }
        }
    }
}