@import "../../Styles/common.scss";

.JoinStepOne {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    h2 {
        height: 190px;
        background-color: #faf9f7;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.04em;
        @include flex-center;
    }
    .step1Wrapper {
       padding: 61px 330px 0px;
        .step {
            @include flex-spaceBetween-center; 
            padding: 0px 55px 0px 55px;
            span {
                font-size: 20px;
                color: #666666;
                i {
                    color: grey;
                    margin-left: 45px;
                }
            }
            .currentStep {
                color: black;
                font-size: 20px;
                i {
                    color:black;
                }
            }
        }
        form {
            fieldset {
                margin: 40px 55px 0px 55px;
                .allCheck {
                    padding-left: 25px;
                    border-bottom: solid 1px black;
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    input {
                        margin-right: 16px;
                    }
                    span {
                        font-size: 16px;
                    }
                }
                ul {
                    li {
                        .wrapper {
                            border-bottom: solid 1px #CCCCCC;
                            label {
                                padding-left: 25px;
                                display: inline;
                                width: 650px;
                                line-height: 50px;
                                input {
                                    margin-right: 16px;
                                    padding-bottom: 10px;
                                    span {
                                        font-size: 16px;
                                    }
                                }
                            }
                            button {
                                background-color: white;
                                border: none;
                                display: inline;
                                &:hover {
                                    cursor: pointer;
                                }
                                &:focus {
                                    outline: none;
                                }
                                i {
                                    color: grey;
                                }
                                
                            }
                        }
                        .scrollbar {
                            height: 240px;
                            position: relative;
                            overflow: auto;
                            .innerContent {
                                font-size: 12px;
                                background-color: #f9f9f9;
                                padding: 10px 28px 0px;
                               
                                h3 {
                                    font-size: 16px;
                                    color: #555555
                                }
                                strong {
                                    font-size: 14px;
                                    color: #555555
                                }
                            }
                        }
                        .scrollbarError {
                            height: 0px;
                            position: relative;
                            overflow: auto;
                            .innerContent {
                                display: none;
                               
                                h3 {
                                    font-size: 16px;
                                    color: #555555
                                }
                                strong {
                                    font-size: 14px;
                                    color: #555555
                                }
                            }
                        }
                    }
                }
                .buttonArea {
                    @include flex-center;
                    padding-top: 40px;
                    .cancleBtn {
                        width: 111px;
                        height: 40px;
                        background-color: white;
                        border: 1px solid grey;
                        border-radius: 3px;
                        font-size: 14px;
                        margin: 0px 5px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .confirmBtn {
                        width: 111px;
                        height: 40px;
                        background-color:black;
                        border: 1px solid grey;
                        border-radius: 3px;
                        font-size: 14px;
                        color: white;
                        margin: 0px 5px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}