@import "../../Styles/common.scss";

.Welcome {
    width: 100%;
    height: 1048px;
    
    h2 {
        height: 190px;
        display: flex;
        background-color: #faf9f7;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.04em;
        justify-content: center;
        align-items: center;
    }
    .contentWrapper {
        height: 533.800px;
        margin: 44px 305px 0px;     

        .engDescription {
            display: flex;
            font-size: 16px;
            color: #666;
            line-height: 40px;
            font-weight: 400;
            justify-content: center;
            align-items: center;
        }

        .korDescription {
            display: block;
            display: flex;
            font-size: 30px;
            font-weight: 400;
            justify-content: center;
            align-items: center;
        }

        .joinBox {
            display: flex;
            border-top: solid 1px black;
            margin-top: 50px;
            justify-content: center;
            align-items: center; 

            .joinTotal {
             padding-top: 60px;
             margin: auto 122.500px;

                .joinBtn {
                    width: 323px;
                    height: 62px;
                    display: flex;
                    padding: 0px 40px;
                    border: solid 1px black;
                    background-color: black;
                    color: white;
                    border-radius: 3px;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        cursor:pointer;
                    }
                }

                .snsJoin {
                    margin-top: 70px;
                    h3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    }
                    ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;
                        button {
                          width: 90px;
                          height: 90px;
                          color: #555555;
                          font-size: 14px;
                          font-weight: 600px;
                          background-color: white;
                          border: none;
                          img {
                              width: 55px;
                              height: 55px;
                              margin-bottom: 5px;
                          }
                        }
                    }
                }
            }
        }
    }
}
