@import "../../Styles/common.scss";

.Welcome {
    width: 100%;
    height: 1048px;
    padding: 100px 0;
    h2 {
        height: 190px;
        background-color: #faf9f7;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: -0.04em;
        @include flex-center;
    }
    .contentWrapper {
        height: 533.800px;
        margin: 44px 305px 0px;     
        .engDescription {
            //height: 40px;
            font-size: 16px;
            color: #666;
            line-height: 40px;
            font-weight: 400;
            @include flex-center;
        }
        .korDescription {
            //height: 50.4px;
            font-size: 30px;
            font-weight: 400;
            display: block;
            @include flex-center;
        }
        .joinBox {
            //height: 392.4px;
            border-top: solid 1px black;
            margin-top: 50px;
            @include flex-center; 
            .joinTotal {
             //height: 100%;
             padding-top: 60px;
             margin: auto 122.500px;
                .joinBtn {
                    width: 323px;
                    height: 62px;
                    padding: 0px 40px;
                    border: solid 1px black;
                    background-color: black;
                    color: white;
                    border-radius: 3px;
                    @include flex-center;
                    &:hover {
                        cursor:pointer;
                    }
                }
                .snsJoin {
                    margin-top: 70px;
                    h3 {
                    @include flex-center;
                    }
                    ul {
                    @include flex-spaceBetween-center;
                    margin-top: 20px;
                        button {
                          color: #555555;
                          font-size: 14px;
                          font-weight: 600px;
                          background-color: white;
                          border: none;
                          width: 90px;
                          height: 90px;
                          img {
                              width: 55px;
                              height: 55px;
                              margin-bottom: 5px;
                          }
                        }
                    }
                }
            }
        }
    }
}
