@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ListType {
  width: 100%;
  height: 0px;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease;

  > div {
    @include flex-center;
    background-color: rgba(255, 255, 255, 0.9);

    li {
      padding: 30px 0;
      margin-right: 50px;
      font-size: 14px;
      list-style: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.shown {
    height: 73px;
    transition-delay: 0.32s;
  }
}
