div {
    .StationeryList {
        position: relative;
       
        .inner{
            position: relative;
            margin: 0 auto;
            width: 1200px;
            padding-top: 20px;
            .categoryArea {
                position: relative;
                ul {
                    li {
                        .StationeryTitle {
                            font-size: 35px;
                            color:#000000;
                        }

                    }
                }
                .categoryBox {
                    width: 1200px;
                    margin : 20px auto 0;
                    padding: 28px 40px 0;
                    border-top: 1px solid #000000;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                   li {
                        width: 224px;
                        justify-content: center;
                        float: left;
                        
                        .depth2Title {
                            display: block;
                            font-size: 16px;
                            font-weight: 700;
                            margin-bottom: 15px;
                            color: #000000;
                        }
                    }
                        ul {
                            li {
                                float: left;
                                width: 200px;
                                .depth3 {
                                    font-size: 14px;
                                    line-height: 24px;
                                    text-decoration: none;
                                    color: #555555;
                                }
                            }
                        } 
                    }

                }

            }
            
        }
    }
    .categorySort {
        position: relative;
        height: 57px;
        padding-top: 18px;
        box-sizing: border-box;
        h3 {
            display: inline-block;
            width: auto;
            font-size: 24px;
            font-weight: 400;
        }
        span {
            margin-left: 16px;
            font-size: 14px;
            b{
                font-size: 16px;
            } 
        }
        .sortArea {
            position: absolute;
            top: 10px;
            right: 0;
            display: inline-block;
        }
    }

