@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin list-style {
  padding: 4px 0;
  font-size: 14px;
}

@mixin button-style {
  border: none;
  outline: none;
  cursor: pointer;
}

$color: #555555;
$light-color: #9f9f9f;
$light-background-color: #f1f1f1;

.SearchBox {
  width: 682px;
  padding: 30px 40px;
  position: fixed;
  top: 20px;
  right: 80px;
  border: 1px solid black;
  background-color: #fff;
  z-index: 50;
  display: block;
  opacity: 1;

  .searchInput {
    @include flex-center;
    border-bottom: 3px solid #000;

    input {
      width: 100%;
      height: 42px;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      border: none;

      &::placeholder {
        font-size: 16px;
        font-weight: 500;
        color: $light-color;
      }

      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }

    button {
      font-size: 24px;
      @include button-style;
      background-color: #ffffff;
      font-weight: 600;

      button:before {
        width: 24px;
        height: 24px;
        font-family: fontAwesome;
        content: "\f002";
      }
    }
  }

  .searchWords {
    display: flex;
    justify-content: space-between;

    h4 {
      width: 280px;
      line-height: 50px;
      padding-top: 24px;
      font-size: 20px;
      font-weight: 500;
      border-bottom: 1px solid #000;
    }

    ul {
      max-height: 320px;
      padding: 10px 0;
      border-bottom: 1px solid #9f9f9f;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      li {
        height: 34px;
        padding: 9px 0;
        @include flex-spaceBetween-center;
        font-size: 14px;
        color: $color;

        &:hover {
          cursor: pointer;
          background-color: $light-background-color;
        }
      }

      button {
        font-size: 14px;
        @include button-style;
        background-color: transparent;
        color: $light-color;
        font-weight: 300;

        button:before {
          width: 24px;
          height: 24px;
          font-family: fontAwesome;
          content: "\f00d";
        }
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #d3d3d3;
        }
      }
    }

    .latestSearchWords {
      width: 280px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        height: 382px;
      }

      .btnContainer {
        padding: 8px 0;
        text-align: right;

        button {
          color: $color;
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }

  .recommendTags {
    width: 100%;

    h3 {
      padding-top: 24px;
      font-size: 22px;
      font-weight: 500;
      line-height: 50px;
      border-bottom: 1px solid #000;
    }

    ul {
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      li {
        padding: 0 7px;
        margin-top: 6px;
        margin-right: 6px;
        color: $color;
        line-height: 27px;
        background-color: $light-background-color;
        cursor: pointer;
      }
    }
  }

  .searchResults {
    display: flex;
    margin-top: 6px;

    .productThumbnail {
      display: flex;
      flex-direction: column;
      padding-left: 9px;
      padding-right: 44px;

      img {
        width: 240px;
        height: 240px;
      }

      > span {
        margin-top: 10px;
        font-size: 14px;
      }

      span:last-child {
        color: #ff3c00;

        em {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }

    .noneSearch {
      width: 100%;
      padding: 12px 0 0 9px;
      line-height: 34px;
      color: $light-color;
      font-size: 14px;
    }

    ul {
      height: 372px;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      li {
        padding: 0 9px;
        height: 34px;
        font-size: 14px;
        line-height: 34px;
        white-space: nowrap;

        &:hover {
          cursor: pointer;
          background-color: $light-background-color;
        }
      }
    }
  }

  .closeBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -1px;
    right: -51px;
    font-size: 38px;
    font-weight: lighter;
    color: white;
    @include button-style;
    background-color: black;

    button:before {
      font-size: 50px;
      font-family: fontAwesome;
      content: "\f00d";
    }
  }

  &.hidden {
    display: none;
    opacity: 0;
  }

  .inactive {
    display: none;
  }
}
